body {
  font-family: "Capriola", sans-serif;
}
a {
  font-weight: bold;
}
a:link,
a:visited {
  text-decoration: none;
  color: blue;
}
nav {
  display: table;
  clear: both;
  width: 100%;
}
nav .left {
  float: left;
}
nav .right {
  float: right;
  text-align: right;
  font-size: small;
}
#home_link {
  font-family: "Calistoga", serif;
  font-weight: bolder;
}

h3 {
  margin-top: 30px;
}

.list_box {
  /* display: table; */
  clear: both;
  /* float: left; */
  white-space: nowrap;
  /* overflow: visible; */
}
.list_box div {
  display: inline-block;
}
.list_box .image_box {
  vertical-align: middle;
}
.list_box .title_box {
  padding-left: 10px;
  white-space: normal;
  width: 80%;
}
.list_box .title_box p {
  margin-top: initial;
}
.list_box .narrow {
  width: 75%;
}

.share::before {
  content: "⁞";
  padding-left: 10px;
}

.playpause label {
  display: block;
  box-sizing: border-box;
  width: 0;
  height: 74px;
  transition: 100ms all ease;
  cursor: pointer;
  border-style: double;
  border-width: 0px 0 0px 60px;
}
.playpause input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}
.playpause input[type="checkbox"]:checked + label {
  border-style: solid;
  border-width: 37px 0 37px 60px;
}
.trackbox {
  padding: 2px 5px 15px;
}
#audiocontainer {
  padding: 10px 0;
}

.license {
  font-size: x-small;
}

.box80 {
  width: 80px;
  height: 80px;
}
.box50 {
  width: 50px;
  height: 50px;
}
.box300 {
  width: 300px;
  height: 300px;
}
