body {
  color: #00ffff;
  background-color: #000000;
  font-family: 'Capriola', sans-serif;
}
a {
  color: #00ffff;
  font-weight: bold;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

#home_link{
  color: #00ff00;
  font-family: 'Calistoga', serif;
  font-weight: bolder;
}

.share {
  color: #004949;
}
.share::before{
  content: "➚";
}

.playpause label {
  display: block;
  box-sizing: border-box;
  width: 0;
  height: 74px;
  border-color: transparent transparent transparent #00ffff;
  transition: 100ms all ease;
  cursor: pointer;
  border-style: double;
  border-width: 0px 0 0px 60px;
}
.playpause input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}
.playpause input[type="checkbox"]:checked + label {
  border-style: solid;
  border-width: 37px 0 37px 60px;
}
.playpause input[type="checkbox"]:focus + label {
  box-shadow: 0 0 5px #00ff00;
}
.currenttrack {
  background-color: #424646;
}
.trackbox {
  padding: 2px 5px 15px;
}
#audiocontainer {
  padding: 10px 0;
}
