
#home_link {
  color: #000000;
}

a:link,
a:visited {
  color: blue;
}

.share:link, .share:visited {
  color: #a7a6a6;
}

.playpause label {
  border-color: transparent transparent transparent #242525;
}

.currenttrack {
  background-color: #00ff00;
}

.placeholder {
  background-color: #a7a6a6;;
}

#topline{
  border: 1px solid #00ff00;
}
