
{
  "Resources" : {
    "art" : {
      "Type" : "AWS::DynamoDB::Table",
      "Properties" : {
        "AttributeDefinitions": [
            {
            "AttributeName": "PK",
            "AttributeType": "S"
            },
            {
            "AttributeName": "SK",
            "AttributeType": "S"
            },
            {
            "AttributeName": "AlbumID",
            "AttributeType": "S"
            },
            {
            "AttributeName": "IsArtist",
            "AttributeType": "N"
            },
            {
            "AttributeName": "ArtistName",
            "AttributeType": "S"
            }
        ],
        "TableName": "art",
        "KeySchema": [
            {
            "AttributeName": "PK",
            "KeyType": "HASH"
            },
            {
            "AttributeName": "SK",
            "KeyType": "RANGE"
            }
        ],
        
        "ProvisionedThroughput": {

            "ReadCapacityUnits": 5,
            "WriteCapacityUnits": 5
        },

        "GlobalSecondaryIndexes": [
            {
            "IndexName": "IX_ALBUM",
            "KeySchema": [
                {
                "AttributeName": "AlbumID",
                "KeyType": "HASH"
                },
                {
                "AttributeName": "SK",
                "KeyType": "RANGE"
                }
            ],
            "Projection": {
                "ProjectionType": "ALL"
            },
            "ProvisionedThroughput": {
                "ReadCapacityUnits": 5,
                "WriteCapacityUnits": 5
            }
            },
            {
            "IndexName": "IX_ARTIST",
            "KeySchema": [
                {
                "AttributeName": "IsArtist",
                "KeyType": "HASH"
                },
                {
                "AttributeName": "ArtistName",
                "KeyType": "RANGE"
                }
            ],
            "Projection": {
                "ProjectionType": "KEYS_ONLY"
            },
            "ProvisionedThroughput": {
                "ReadCapacityUnits": 5,
                "WriteCapacityUnits": 5
            }
            }
        ]
        }

    }
  }
}
         