{% extends "layout.html" %} {% block title %} Create on MushMud {% endblock %}
{% block head %}
<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"/>
{% endblock %}
{% block content %} 

<div>{{ session['profile']['email']}} </div>

{% raw %}

<section id="app">
  <router-view></router-view>
</section>

<component id="ArtistList" style="display: none">
  <div>
    <h1>My Artists</h1>

    <div>
      <div v-for="artist in artists" :key="artist.id">
        <router-link :to="`/artist/${artist.id}`">
          
          <div class="list_box">
            <div class="image_box">
               
                <img v-if="artist.attributes.thumbnail_image_url" :src="artist.attributes.thumbnail_image_url" width="50" height="50">

                <div v-if="!artist.attributes.thumbnail_image_url"  class="placeholder box50"></div>
            </div>
            <div class="title_box">
                <p>{{artist.attributes.name}}</p>
            </div>
        </div>
      </router-link>
      </div>
    </div>

    <div>
      <router-link to="/artist/new"> + Add</router-link>
    </div>
  </div>
</component>

<component id="ArtistDetail" style="display: none">
  <div>
    <p><router-link to="/"><- Back to My Artists</router-link></p>

    <div v-if="editing">
      <h1 v-if="$route.params.id === 'new'">Add a new artist</h1>
      <div>
        <div><label for="artist-name">Artist Name</label></div>
        <input v-model="artist.attributes.name" id="artist-name" />
      </div>
      <div>
        <div><label for="artist-bio">Bio</label></div>
        <textarea v-model="artist.attributes.bio" id="artist-bio"></textarea>
      </div>
      <div>
        <b-button variant="primary" v-on:click="save()">Save</b-button>

        <b-button v-on:click="cancel()">Cancel</b-button>
      </div>
    </div>

    <div v-if="!editing">
      <div>
        <h1>{{artist.attributes.name}}</h1>
        <p>{{artist.attributes.bio}}</p>
        <div>
          <b-button v-on:click="edit()">Edit</b-button>
        </div>
      </div>
      <div>
        <img v-if="artist.attributes.profile_image_url" :src="artist.attributes.profile_image_url" width="300">
        <div v-if="!artist.attributes.profile_image_url" class="placeholder box300"></div>
        <div>
          <div>
            <b-form-file v-model="file" size="sm" placeholder="" browse-text="Change Picture" style="width:300px;" id="file" ref="file" accept=".jpg" v-on:input="handleFileUpload()"></b-form-file>
            <div v-show="uploading">
              Uploading
              <progress max="100" :value.prop="uploadPercentage"  ></progress>
            </div>
           
          </div>
        </div>
      </div>
      
    </div>

    <div v-if="$route.params.id !== 'new'">
      <div>
        <h3>
          <router-link :to="`/artist/${artist.id}/albums`">Albums</router-link>
        </h3>
        <h3>
          <router-link :to="`/artist/${artist.id}/singles`"
            >Singles</router-link
          >
        </h3>
        <h3>
          <router-link :to="`/artist/${artist.id}/featured`"
            >Featured Tracks</router-link
          >
        </h3>

        <div>
          <b-button variant="danger" size="sm">Delete</b-button>
        </div>
      </div>
    </div>
  </div>
</component>

{% endraw %} {% endblock %} {% block scripts %} {% if env == 'development' %}
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
{% else %}
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.min.js"></script>
<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
{% endif %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  const ArtistList = {
    data: function () {
      return {
        artists: [],
      };
    },
    mounted() {
      console.log("artist list mounted");
      axios
        .get("/api/v1/me/artists")
        .then((response) => (this.artists = response.data.data))
        .catch((e) => console.error(e));
    },
    template: "#ArtistList",
  };

  const ArtistDetail = {
    data: function () {
      return {
        editing: false,
        file: null,
        uploadPercentage: 0,
        uploading: false,
        artist: { id: "", type: "artist", attributes: { name: "", bio: "", image_url: "" } },
      };
    },
    mounted() {
      console.log("artist detail mounted", this.$route.params.id);
      if (this.$route.params.id === "new") {
        this.editing = true;
      } else {
        axios
          .get(`/api/v1/me/artists/${this.$route.params.id}`)
          .then((response) => (this.artist = response.data.data))
          .catch((e) => console.error(e));
      }
    },
    methods: {
      edit() {
        this.editing = true;
      },
      cancel() {
        this.editing = false;
        if (this.$route.params.id === "new") {
          router.push("/");
        }
      },
      handleFileUpload() {
        //this.file = this.$refs.file.value;
        if(!this.file){
          console.log('no file selected');
          return;
        }
        this.uploading = true;
        const formData = new FormData();
        formData.append("image_file", this.file);
        axios
          .post(`/api/v1/me/artists/${this.artist.id}/image`, formData, {
            headers: {
              "Content-Type": "multipart/form-data",
            },
            onUploadProgress: function( progressEvent ) {
              this.uploadPercentage = parseInt(Math.round((progressEvent.loaded / progressEvent.total) * 80 ));
            }.bind(this)
          })
          .then((response) => {
            this.file = null;
            this.uploading = false;
            this.$refs.file.reset();
            this.uploadPercentage = 0;
            this.artist.attributes.profile_image_url = response.data.data.attributes.profile_image_url;
          })
          .catch((e) => {
            console.error(e);
            this.uploading = false;
          });
      },
      save() {
        console.log("saving");
        postData = { 
          data: {
            type: 'artist',
            attributes: {
               name: this.artist.attributes.name,
               bio: this.artist.attributes.bio
             }
          }
        };
        axios
          .post("/api/v1/me/artists", postData)
          .then((response) => {
            this.artist = response.data.data;
            this.editing = false;
            router.push(`/artist/${response.data.data.id}`);
          })
          .catch((e) => console.error(e));
      },
      editImage(){
        this.editingImage = true;
      },
      cancelEditImage(){
        this.editingImage = false;
      },
      saveImage(){
         
      }
    },
    template: "#ArtistDetail",
  };

  const AlbumList = { template: "<div>albums</div>" };

  const SingleList = { template: "<div>singles</div>" };

  const Featured = { template: "<div>featured</div>" };

  const routes = [
    { path: "/", component: ArtistList },
    { path: "/artist/:id", component: ArtistDetail },
    { path: "/artist/:id/albums", component: AlbumList },
    { path: "/artist/:id/singles", component: SingleList },
    { path: "/artist/:id/featured", component: Featured },
  ];
  const router = new VueRouter({
    routes,
  });

  new Vue({
    router,
    el: "#app",
    data: {},
  });
</script>

{% endblock %}
