{% extends "layout.html" %} {% block title %} Agree to Mushmud terms of use {%
endblock %} {% block content %}

<h1>A few things first...</h1>
<ul>
  <li>
    Do not upload any images or audio files that you do not have the rights to.
  </li>
  <li>Respect all copyright and license laws.</li>
  <li>Don't upload someone else's work and claim it as your own.</li>
  <li>Don't misrepresent yourself as anyone else.</li>
  <li>
    No pornographic, racist, hateful, illegal, or generally offensive material allowed.
  </li>
</ul>

<form method="POST">
    <div style="text-align: center;">
        <input type="submit" value="I agree" />
    </div>
</form>

{% endblock %}
