{% extends "layout.html" %} {% block title %} Agree to Mushmud terms of use {%
endblock %} {% block content %}

<h1>A few things first...</h1>
<ul>
  <li>
    Only Creative Commons licensed or public domain audio files are allowed to
    be uploaded to this site. The orginal artist must be attributed.
  </li>
  <li>Use this site at your own risk.</li>
  <li>
    The maintainer of this site does not provide any service level agreements or
    guarantees in regards to uptime, data backup or retention, or fitness for
    any purpose.
  </li>
</ul>

<form method="POST">
  <div style="text-align: center">
    <input type="submit" value="I agree" />
  </div>
</form>

{% endblock %}
