{% extends "layout.html" %}

{% block title %}
{{album.artistName}} - {{album.title}}
{% endblock %}

{% block content %}
<h1>{{album.title}}
  <a class="share" data-clipboard-text="{{ url_for('album', id=album.id) }}" href="#"></a>
</h1>

{% if album.image_url is not none and album.image_url|length %}
<img src="{{ album.image_url|resize('200x200', placeholder=1) }}" alt="{{album.title}}" width="200" height="200">
{% endif %}

<p>Album by <a href="{{ url_for('artist', id=album.artist_id) }}">{{album.artist_name}}</a>
  •
{{album.year}}</p>

{% if album.tracks|length > 0 %}
<div class="playpause">
    <input type="checkbox" value="None" id="playpause" name="check" checked />
    <label for="playpause" tabindex="1"></label>
</div>
{% endif %}
<div id="audiocontainer">
    {% for track in album.tracks %}
    <div class="trackbox">
        <h4>{{track.title}}
          <a class="share" data-clipboard-text="{{ url_for('track', id=track.id) }}" href="{{ url_for('track', id=track.id) }}"></a>
        </h4>
        <div>
          <audio id="track_{{loop.index0}}" controls><source src="{{track.audio_url}}"></audio>
        </div>
      </div>
    {% endfor %}
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='playlist.js')}}"></script>
{% endblock %}