{% extends "layout.html" %}

{% block title %}
{{album.artistName}} - {{album.title}}
{% endblock %}

{% block content %}
<h1>{{album.title}}
  <a class="share" data-clipboard-text="{{ url_for('album', id=album.albumId) }}" href="#"></a>
</h1>
<p>Album by <a href="{{ url_for('artist', id=album.artistId) }}">{{album.artistName}}</a>
{{album.year}}</p>

{% if album.tracks|length > 0 %}
<div class="playpause">
    <input type="checkbox" value="None" id="playpause" name="check" checked />
    <label for="playpause" tabindex="1"></label>
</div>
{% endif %}
<div id="audiocontainer">
    {% for track in album.tracks %}
    <div class="trackbox">
        <h4>{{track.title}}
          <a class="share" data-clipboard-text="{{ url_for('track', id=track.trackId) }}" href="{{ url_for('track', id=track.trackId) }}"></a>
        </h4>
        <div>
          <audio id="track_{{loop.index0}}" controls><source src="{{track.audioUrl}}"></audio>
        </div>
      </div>
    {% endfor %}
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='album.js')}}"></script>
{% endblock %}