{% extends "layout.html" %}
{% block title %}
{{artist.name}}
{% endblock %}
{% block head %}
<meta property="og:audio:artist" content="{{artist.name}}" />
<meta name="decription" content="{{artist.name}}" />
{% endblock %}
{% block content %}
<h1>{{artist.name}}
    <a class="share" data-clipboard-text="{{ url_for('artist', id=artist.artistId) }}" href="#" title="share"></a>
</h1>
{% if artist.image_url is not none and artist.image_url|length %}
<img src="{{ artist.image_url|resize('300', placeholder=1) }}" alt="{{artist.name}}" width="300">
{% endif %}

<!-- featured tracks -->
{% if artist.featured_tracks|length > 0 %}
<!-- <h3>Featured</h3> -->
<div class="playpause">
    <input type="checkbox" value="None" id="playpause" name="check" checked />
    <label for="playpause" tabindex="1"></label>
</div>

<div id="audiocontainer">
    {% for track in artist.featured_tracks %}
    <div class="trackbox">
        <p>
            <b>{{track.title}}</b>
          <a class="share" data-clipboard-text="{{ url_for('track', id=track.id) }}" href="{{ url_for('track', id=track.id) }}"></a>
        </p>
        <div>
            <audio id="track_{{loop.index0}}" controls data-title="{{track.title}}"><source src="{{track.audio_url}}"></audio>
        </div>
        {% if track.license|length %}
        <p class="license">
            <a rel="license" href="http://creativecommons.org/licenses/{{track.license}}/4.0/" target="_blank" title="{{track.license_name}}">
            <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/{{track.license}}/4.0/80x15.png" /></a>
            </p>
        {% endif %}
       
      </div>
    {% endfor %}
</div>
{% endif %}


<!-- list albums-->
{% if artist.albums|length > 0 %}
<h3>Albums</h3>
<div>
{% for album in artist.albums %}
    <a href="{{url_for('album', id=album.id)}}" title="{{album.title}}">
        <div class="list_box">
            <div>
                {% if album.image_url is not none and album.image_url|length %}
                <img src="{{ album.image_url|resize('80x80', placeholder=1) }}" alt="{{album.title}}" width="80" height="80">
                {% else %}
                <div class="placeholder box80"></div>
                {% endif %}
            </div>
            <div class="title_box narrow">
                <p>{{album.title}} •
                {{album.year}}</p>
            </div>
        </div>
    </a>
{% endfor %}
</div>
{% endif %}

<!-- list singles-->
{% if artist.singles|length > 0 %}
<h3>
{% if artist.albums|length > 0 or artist.featured_tracks|length > 0 %}More{% endif %}
</h3>

<div>
    {% for track in artist.singles %}
        <a href="{{url_for('track', id=track.id)}}" title="{{track.title}}">
            <div class="list_box">
                <div>
                    <img width="0" height="80" src="{{url_for('static', filename='1x1.png')}}">
                </div>
                <div class="title_box">
                    <p>{{track.title}} •
                    {{track.year}}</p>
                </div>
            </div>
        </a>
    {% endfor %}
 </div>
{% endif %}

{% if artist.bio is not none and artist.bio|length %}
<h3>About</h3>
<p>
  {{artist.bio}}
</p>
{% endif %}
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='playlist.js')}}"></script>
{% endblock %}