{% extends "layout.html" %}

{% block title %}
Mushmud
{% endblock %}

{% block content %}

<div class="list_container" >
    {% for artist in artists %}
    <a href="{{url_for('artist', id=artist.id)}}" title="{{artist.name}}">
        <div class="list_box">
            <div class="image_box">
                {% if artist.image_url is not none and artist.image_url|length %}
                <img src="{{ artist.image_url|resize('50x50', placeholder=1) }}" alt="{{artist.name}}" width="50" height="50">
                {% else %}
                <div class="placeholder box50"></div>
                {% endif %}
            </div>
            <div class="title_box">
                <p>{{artist.name}}</p>
            </div>
        </div>
    </a>
    {% endfor %}
</div>

{% endblock %}