{% extends "layout.html" %}

{% block title %}
Mushmud
{% endblock %}

{% block content %}

<div >
    {% for artist in artists %}
    <a href="{{url_for('artist', id=artist.id)}}">
        <div class="home_list_box">
            <div>
                {% if artist.image_url is not none and artist.image_url|length %}
                <img src="{{ artist.image_url|resize('50x50') }}" alt="{{artist.name}}" width="50" height="50">
                {% else %}
                <img width="50" height="50" src="{{url_for('static', filename='1x1.png')}}">
                {% endif %}
            </div>
            <div class="title_box">
                <h4>{{artist.name}}</h4>
            </div>
        </div>
    </a>
    {% endfor %}
</div>

{% endblock %}